<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">

<body>
<div class="container">
    <h2 class="uk-heading-line">Lista pracowników:</h2>
    <div style="margin-left: 50px">
        <a th:href="@{/employees/new}"><input  class="uk-button uk-margin-small-right" uk-icon="plus-circle" value="Dodaj pracownika" type="button"></a>
    </div>
    <div style="margin-right: 50px">
        <form class="uk-search uk-search-default">
            <span uk-search-icon></span>
            <input class="uk-search-input"  type="search" placeholder="Search..." id="employeeSearch" >
        </form>
    </div>

    <table class="uk-table uk-table-striped" id="employeeList">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Oddział</th>
            <th>Stanowisko</th>
            <th>Pracujący</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.position}"></td>
            <td><span th:uk-icon="${employee.working} ? 'check' : 'close' "></span></td>
            <td style="width: 100px">

                <a th:href="@{/employees/edit/{id}(id=${employee.id})}"><input class = "uk-icon-link uk-margin-small-right" uk-icon="file-edit" value="Edytuj" type="button"></a>
                <a th:href="@{/employees/remove/{id}(id=${employee.id})}"><input class = "uk-icon-link" uk-icon="trash" value="Usuń" type="button"></a>
                <a th:href="@{/details/{id}(id=${employee.id})}" ><input class = "uk-icon-link" uk-icon="more" value="Szczegóły" type="button"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#employeeSearch").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#employeeList tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</div>

</body>
</html>

