<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">

<body>
<div class="container">
    <h2>Lista pracowników:</h2>
    <div>
        <a th:href="@{/employees/new}"><input  class="uk-button uk-margin-small-right" uk-icon="plus-circle" value="Dodaj pracownika" type="button"></a>
    </div>

    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
<!--            <th>ID</th>-->
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Oddział</th>
            <th>Stanowisko</th>
            <th>Wiek</th>
<!--            <th>Adres zamieszkania</th>-->
            <th>Telefon</th>
<!--            <th>Data zatrudnienia</th>
            <th>Data zakończenia pracy</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
<!--            <td th:text="${employee.id}"></td>-->
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.login}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.position}"></td>
            <td th:text="${employee.age}"></td>
            <!--<td th:text="${employee.adress}"></td>-->
            <td th:text="${employee.telephone}"></td>
<!--            <td th:text="${employee.firstWorkday}"></td>
            <td th:text="${employee.lastWorkday}"></td>-->
            <!--<td><span th:uk-icon="${employee.active} ? 'check' : 'close' "></span></td>-->
            <td style="width: 100px">

                <a th:href="@{/employees/edit/{id}(id=${employee.id})}"><input class = "uk-icon-link uk-margin-small-right" uk-icon="file-edit" value="Edytuj" type="button"></a>
                <a th:href="@{/employees/remove/{id}(id=${employee.id})}"><input class = "uk-icon-link" uk-icon="trash" value="Usuń" type="button"></a>
                <!--<a th:href="@{/details/{id}(id=${detail.id})}" ><input class = "uk-icon-link" uk-icon="more" value="Szczegóły" type="button"></a>-->
            </td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>

